.reveal section img {
  border: 0;
  box-shadow: none;
  background:rgb(0,0,0);
  background: transparent;
  background:rgba(0,0,0,0);
}

.left-align {
  text-align: left;
}

.text-center { text-align: center; }
.text-left   { text-align: left; }
.text-right  { text-align: right; }